{% extends "default.njk" %}
{% block content %}
<article><h1 id="pharaoh-cleopatra">Pharaoh + Cleopatra</h1>
<p>Pharaoh + Cleopatra are apart of the Impression Games city building series. Other titles on the same engine include Caeser III, Zeus, and Emporer.</p>
<h2 id="running-on-fedora-28">Running on Fedora 28</h2>
<blockquote>
<p>Fedora 28, winehq-devel, and nvidia proprietary drivers</p>
</blockquote>
<p>Install wine if you haven&#39;t already. Fedora 28 provides wine through the <a href="https://fedoraproject.org/wiki/Wine">official repositories</a> or you can install through <a href="https://wiki.winehq.org/Fedora">winehq&#39;s official repository</a> (for a newer version).</p>
<h3 id="setting-wine-prefix-and-creating-wine32">Setting wine prefix and creating .wine32</h3>
<ul>
<li>Add <code>alias wine32=&quot;WINEPREFIX=&#39;/home/{your account}/.wine32&#39; WINEARCH=win32&quot;</code> to your .bashrc or .zshrc. </li>
<li>Restart your shell and run the command <code>wine32 wine wineboot</code> to create the .wine32 folder in your home directory (storage for all the 32-bit games that don&#39;t play well with 64-bit wine)</li>
</ul>
<h2 id="installing-pharaoh">Installing Pharaoh</h2>
<p>After setting our prefix we&#39;re all set to install. Navigate to your Download and run the command: <code>wine32 wine setup_pharaoh_gold_2.1.0.15.exe</code></p>
<p>A GOG installer should pop up navigating you through the install. Wine might prompt you to download some addition files (e.g. gecko).</p>
<h2 id="running-pharaoh">Running Pharaoh</h2>
<p>Pharaoh normally runs at <code>1024x768</code>. It&#39;s perfectly playable at the default resolution but if you enjoy widescreen support there&#39;s a <a href="http://www.wsgf.org/dr/pharaoh/en">solution provided by widescreen gaming forum</a>. It&#39;s a drop in replacement for the exe located in <code>/home/{your account}/.wine32/drive_c/GOG Games/Pharaoh Gold/</code></p>
<p>In order to change the resolution to the new widescreen settings you must start a game. The graphics settings are not available from the main menu.</p>
<h2 id="wine-virtual-desktop">Wine virtual desktop</h2>
<p>Instead of Pharaoh taking over your monitor fullscreen wine has the option to run games in a virtual desktop (windowed).</p>
<p>We&#39;ll have to edit wine&#39;s settings in winecfg. To edit the settings in 32-bit wine we&#39;ll run the command: <code>wine32 winecfg</code></p>
<p>A settings application with launch and under the graphics tab select <code>Emulate a virtual desktop</code> and select a desired resolution (if it&#39;s smaller than widescreen patch it&#39;ll automatically resize).</p>
<p><a href="/winecfg.png"><img src="/winecfg.png" alt="winecfg example"></a></p>
<h2 id="running">Running</h2>
<p><a href="/c-example-running.gif"><img src="/c-example-running.gif" alt="pharaoh running"></a></p>
</article>
{% endblock %}