{% extends "default.njk" %}
{% block content %}
  <main>
    <h2>Code</h2>
    <table>
      <thead>
        <tr>
          <th>{project}</th>
          <th></th>
          <th>{description}</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><div class="title"><a href="https://bitbucket.org/sdwalsh/people-and-pets" class="title">people and pets</a></div></td>
          <td><span class="arrow">-&gt;</span></td>
          <td><div class="description"><a href="https://bitbucket.org/sdwalsh/people-and-pets">wistia technical challenge</a></div></td>
        </tr>        
        <tr>
          <td><div class="title"><a href="https://bitbucket.org/sdwalsh/cattail" class="title">cattail</a></div></td>
          <td><span class="arrow">-&gt;</span></td>
          <td><div class="description"><a href="https://bitbucket.org/sdwalsh/cattail">categorize colors in an image using k-means clustering</a></div></td>
        </tr>        
        <tr>
          <td><div class="title"><a href="https://bitbucket.org/sdwalsh/turmites" class="title">turmites</a></div></td>
          <td><span class="arrow">-&gt;</span></td>
          <td><div class="description"><a href="https://bitbucket.org/sdwalsh/turmites">a two dimentional turing machine</a></div></td>
        </tr>        
        <tr>
          <td><div class="title"><a href="https://bitbucket.org/sdwalsh/jerrycan" class="title">jerrycan</a></div></td>
          <td><span class="arrow">-&gt;</span></td>
          <td><div class="description"><a href="https://bitbucket.org/sdwalsh/jerrycan">log gas purchases and mileage to expose trends</a></div></td>
        </tr>        
        <tr>
          <td><div class="title"><a href="https://github.com/sdwalsh/fuel" class="title">fuel</a></div></td>
          <td><span class="arrow">-&gt;</span></td>
          <td><div class="description"><a href="https://github.com/sdwalsh/fuel">an implementation of a absorbing markov chain</a></div></td>
        </tr>        
        <tr>
          <td><div class="title"><a href="https://github.com/sdwalsh/mst" class="title">mst</a></div></td>
          <td><span class="arrow">-&gt;</span></td>
          <td><div class="description"><a href="https://github.com/sdwalsh/mst">minimum spanning trees of random, complete, undirected graphs</a></div></td>
        </tr>
      </tbody>
    </table>
    <h2>Articles</h2>
    <article>
      <div class="headline-group">
        <h3 class="headline" itemprop="headline"><a href="/pharaoh-on-linux/">Running Pharaoh + Cleopatra on Linux</a></h3>
        <div class="meta">        
          <span class="val"><time itemprop="datePublished" datetime="2018-06-25">June 25, 2018</time></span>
        </div>
      </div>
      <div class="summary">
        <p>Running games on linux is a lot easier today than years past. Wine has advanced to the point where it arguably runs many old Windows 9X and XP games better than Windows 10!</p>
        <p>I grabbed Pharaoh on the GOG summer sale this past month and finally had the chance to play. Here’s a quick example on how to install and play on a modern linux distro.</p>
      </div>
    </aritcle>
    <article>
      <div class="headline-group">
        <h3 class="headline" itemprop="headline"><a href="/people-and-pets/">People and Pets</a></h3>
        <div class="meta">      
          <span class="val"><time itemprop="datePublished" datetime="2017-08-31">August 31, 2017</time></span>      
        </div>
      </div>
      <div class="summary">
        <p><code>Wistia Full Stack Developer Challenge</code></p>
      </div>
    </article>
    <article>
      <div class="headline-group">
        <h3 class="headline" itemprop="headline"><a href="/resetting-nexus-6/">ADB and Fastboot Errors</a></h3>
        <div class="meta">          
          <span class="val"><time itemprop="datePublished" datetime="2016-02-04">February 04, 2016</time></span>          
        </div>
      </div>
      <div class="summary">
        <p><code>(bootloader) Data size exceeds download buffer</code></p>        
        <p>I ran into a couple interesting problems when I flashed a new ROM on a Nexus 6.  One involving adb sideload and another with fastboot (<code>flash-all.sh</code> provided by google to quickly flash the stock image)</p>
      </div>
    </article>
    <article>
      <div class="headline-group">
        <h3 class="headline" itemprop="headline"><a href="/configure-nginx-for-https/">Properly Configuring Nginx for HTTPS</a></h3>
        <div class="meta">      
          <span class="val"><time itemprop="datePublished" datetime="2015-06-07">June 07, 2015</time></span>      
        </div>
      </div>
      <div class="summary">
        <p>Configure Nginx while avoiding common pitfalls and vulnerabilities. While setting up <code>www.mirango.io</code>, I chose to adopt HTTPS in order to ensure privacy of readers.  Here&rsquo;s a short guide I put together while setting up my server.</p>
      </div>
    </article>
    <article>
      <div class="headline-group">
        <h3 class="headline" itemprop="headline"><a href="/hello-world/">Hello, world!</a></h3>
        <div class="meta">      
          <span class="val"><time itemprop="datePublished" datetime="2015-05-28">May 28, 2015</time></span>      
        </div>
      </div>
      <div class="summary">
        <p>Hello, world!  I&rsquo;ve decided it&rsquo;s time to restart my blog. I&rsquo;m a computer science student and programmer living in Boston with interests in functional programming and concurrent computing.</p>
        <p>I&rsquo;ve had several blogs in the past - mostly self hosted wordpress blogs.  Wordpress offers a lot of functionality that I don&rsquo;t need for a simple blog, so I was excited to learn about static site generators.</p>
      </div>
    </article>
  </main>
{% endblock %}