{% extends "default.njk" %}
{% block content %}
<article><h1 id="people-and-pets">People and Pets</h1>
<h2 id="wistia-full-stack-developer-challenge">Wistia Full Stack Developer Challenge</h2>
<p>People and Pets is my solution for the technical assessment. </p>
<p>I primarily worked on the afternoon of 8/10, the night of 8/15, the morning of 8/16, and the morning of 8/17.</p>
<h2 id="language-and-stack">Language and Stack</h2>
<h3 id="rundown-of-the-tech-stack-used">Rundown of the tech stack used</h3>
<table>
<thead>
<tr>
<th>Type</th>
<th>Solution</th>
<th>Why?</th>
</tr>
</thead>
<tbody>
<tr>
<td>Language</td>
<td>Ruby</td>
<td></td>
</tr>
<tr>
<td>Framework</td>
<td>Sinatra</td>
<td>Lightweight and small framework</td>
</tr>
<tr>
<td>Templating</td>
<td>Haml</td>
<td>Clean and simple syntax</td>
</tr>
<tr>
<td>Styling</td>
<td>SCSS</td>
<td>Variables, mixins, and more</td>
</tr>
<tr>
<td>Grid</td>
<td>Neat</td>
<td>Simple scss grid framework</td>
</tr>
<tr>
<td>Frontend Javascript</td>
<td>ES6+</td>
<td>Promises!</td>
</tr>
<tr>
<td>Frontend Libraries</td>
<td>Modified Sortable.js by Hubspot</td>
<td>Very small framework for sorting</td>
</tr>
<tr>
<td>Asset Pipeline</td>
<td>Gulp</td>
<td>Compile and minify SCSS and ES6+</td>
</tr>
<tr>
<td>Testing</td>
<td>RSpec and Capybara</td>
</tr>
</tbody>
</table>
<h3 id="file-structure">File structure</h3>
<table>
<thead>
<tr>
<th>Location</th>
<th>What?</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>/assets</code></td>
<td>original assets</td>
</tr>
<tr>
<td><code>/public</code></td>
<td>compiled assets</td>
</tr>
<tr>
<td><code>/spec</code></td>
<td>tests</td>
</tr>
<tr>
<td><code>/views</code></td>
<td>haml view files</td>
</tr>
<tr>
<td><code>people_and_pets.rb</code></td>
<td>main application</td>
</tr>
</tbody>
</table>
<h4 id="should-run-on">Should run on</h4>
<ul>
<li><code>Chrome 49+</code> </li>
<li><code>Edge 14+</code> </li>
<li><code>Firefox 52+</code> </li>
<li><code>Safari 10.1+</code> </li>
</ul>
<blockquote>
<p><strong>Important:</strong> People and Pets has only been tested on <code>Arch Linux</code> using <code>Chromium 60</code> and <code>Firefox Nightly 57</code></p>
</blockquote>
<blockquote>
<p><strong>Layout:</strong> Layout works to specifications at &gt;=1100px</p>
</blockquote>
<h3 id="in-depth-reasoning">In depth reasoning</h3>
<p>A theme throughout the tech stack is minimalism and simplicity. I consistently chose lightweight solutions when possible while avoiding solutions that might add or expose unnecessary complexity and refactored files to reduce dependencies.</p>
<h4 id="language">Language</h4>
<p>Out of the options provided - Ruby, Python, and Elixir - I only had significant experience with Ruby. Although I was tempted to use Elixir (since I&#39;ve used OCaml in the past and enjoy functional languages) I ultimately decided to stick with what I knew best - Ruby.</p>
<h4 id="framework">Framework</h4>
<p>Considering the size of the project (really only needing two routes, <code>GET &#39;/&#39;</code> and <code>POST &#39;/upload&#39;</code>) I decided forgo the niceties of Rails and stick to a lightweight framework that better matched the project size. Sinatra was the perfect match. Sinatra even allowed the main application file to stay below 100 lines (with comments)!</p>
<h4 id="scss">SCSS</h4>
<p>I&#39;ve had a lot of luck with thoughtbot&#39;s SCSS libraries in the past (primarily <a href="http://bourbon.io/">Bourbon</a>, <a href="http://neat.bourbon.io/">Neat</a>) and decided to use Neat - this time without Bourbon - for the SCSS / grid framework. The mixin was small and allowed for quick prototyping.</p>
<h4 id="javascript">Javascript</h4>
<p>I originally wrote the primary application&#39;s javascript file using ES5, jQuery, Moment.js, and Sortable. When compiled all these dependencies made the single page application <em>very</em> heavy. I refactored the application file to use ES6+ features and dropped the jQuery and Moment.js dependencies which reduced the production version of <code>app.js</code> from <code>~16KB</code> to a featherweight <code>~2.8KB</code>.</p>
<p>When I refactored I used the <a href="http://caniuse.com/#search=Fetch">Fetch API</a> and dropped support for older browsers and Internet Explorer completely. If necessary older browser support could be maintained with the use of a polyfill.</p>
<h4 id="asset-pipeline">Asset Pipeline</h4>
<p>When I began writing the application I stuck to Rack&#39;s SASS plugin for SCSS compilation.</p>
<pre><code class="lang-ruby">require &#39;sass/plugin/rack&#39;
use Sass::Plugin::Rack
</code></pre>
<p>Once it became apparent that I needed to refactor my javascript I decided to change the asset pipeline to <a href="https://gulpjs.com/">Gulp</a>. Gulp allowed me to use ES6+ features and minify my javascript, SCSS, and images files.</p>
<pre><code class="lang-javascript">gulp.task(&#39;default&#39;, [&#39;watch&#39;, &#39;dev-scripts&#39;, &#39;images&#39;, &#39;sass&#39;]);
gulp.task(&#39;production&#39;, [&#39;scripts&#39;, &#39;images&#39;, &#39;sass&#39;])
</code></pre>
<h4 id="testing">Testing</h4>
<p>I was a bit divided on how to test the application. Most of my Ruby testing experience was tied to Rails (which provides a lot of test helpers and easy to add solutions for testing). With this in mind, I stuck to RSpec and Capybara since I was more familiar with the DSL.</p>
<h2 id="running-people-and-pets">Running People and Pets</h2>
<table>
<thead>
<tr>
<th>Task</th>
<th>Command</th>
</tr>
</thead>
<tbody>
<tr>
<td>Compile assets</td>
<td><code>gulp</code> or <code>gulp production</code></td>
</tr>
<tr>
<td>Run tests</td>
<td><code>xvfb-run -a bundle exec rspec</code></td>
</tr>
<tr>
<td>Run application</td>
<td><code>rackup</code></td>
</tr>
</tbody>
</table>
<h3 id="testing-results">Testing results</h3>
<pre><code class="lang-bash">.........
Finished in 5.56 seconds (files took 0.46512 seconds to load)
9 examples, 0 failures
</code></pre>
<h1 id="thoughts-post-mortem">Thoughts &amp; Post Mortem</h1>
<h2 id="points-of-interest">Points of Interest</h2>
<h3 id="javascript">Javascript</h3>
<p>I originally decided to avoid a javascript compilation pipeline and wrote the application&#39;s primary javascript file in <code>ES5</code> using <code>jQuery</code> for DOM manipulation. When I finished I had a clean small app.js file, but had heavy dependencies (<code>jQuery</code>, <code>Moment.js</code>).</p>
<h5 id="refactoring">Refactoring</h5>
<ul>
<li><code>jQuery</code> was easily factored out by using handy ES6+ features. I</li>
<li><code>Moment.js</code> was only used to quickly parse dates (<code>Date.parse()</code> is implementation dependent if not using the ISO format). Easy replacement. Since Moment was only used during a comparison <em>and</em> since the server responds with a consistent date format MM/DD/YYYY it was easy to split the date and create a new Date for comparisons. Code below.</li>
</ul>
<pre><code class="lang-javascript">// Remove Moment for date parsing
comparator: function(a) {
    var aArray = a.split(&#39;/&#39;);
    // ISO = YYYY MM DD - remember that months are 0 based
    var dateA = new Date(aArray[2], aArray[0] - 1, aArray[1]);
    return dateA || 0;
}
</code></pre>
<h3 id="rspec-and-capybara">RSpec and Capybara</h3>
<p>Since the application requires javascript it&#39;s necessary to change the default driver for Capybara. I&#39;ve selected Selenium for the driver.</p>
<h3 id="continuous-integration">Continuous Integration</h3>
<p>I enabled Travis CI on the repository. All tests pass locally, but when run on Travis, integration tests are failing. Possibly because of this <a href="https://bugzilla.mozilla.org/show_bug.cgi?id=1390486">bug</a>. </p>
<p>An easy solution would be to change the javascript driver for Capybara. TravisCI includes <a href="https://docs.travis-ci.com/user/gui-and-headless-browsers/">support for PhantomJS out of the box</a>.</p>
<p>I will spend more time debugging this over the weekend of 8/19 - 8/20.</p>
<h3 id="file-input">File input</h3>
<p>There are a few ways of dealing with the file input design. </p>
<p>I ultimately decided to hide the file input with <code>display: none</code> and trigger file input with javascript. When the file input is changed a POST request is sent to <code>/upload</code>.</p>
<p>A possible alternative in the future is to use web components.</p>
<pre><code class="lang-javascript">browse.addEventListener(&#39;click&#39;, (e) =&gt; {
    if (fileInput) {
        fileInput.click();
    }
});

fileInput.addEventListener(&#39;change&#39;, async (e) =&gt; {
    e.preventDefault();
    let data = new FormData()
    data.append(&quot;csv&quot;, fileInput.files[0]);
    const req = new Request(&#39;/upload&#39;, {
        method: &#39;POST&#39;,
        body: data
    });

    // The box next to the browse button is updated with the last uploaded file:
    fileSelect.innerHTML = fileInput.files[0].name;
    fileInput.value = &#39;&#39;;

    table.setAttribute(&#39;data-sortable-initialized&#39;, false);
    resetSortStatus(tableHeaderElements);

    sendFileRequest(req)
    .then((res) =&gt; {
        let trHTML = constructRows(res)
        tableBody.insertAdjacentHTML(&#39;beforeend&#39;, trHTML);
        Sortable.init();
        const rows = table.getElementsByTagName(&quot;tbody&quot;)[0].getElementsByTagName(&quot;tr&quot;).length;
        peopleCount.innerHTML = rows;
    })
    .catch((e) =&gt; {
        console.log(e);
    });
});
</code></pre>
<h3 id="table">Table</h3>
<p>In the specification, table cells are 50px high. The best solution is to place the text inside table cells within a div and setting the div&#39;s height to 50px and setting overflow to hidden. Unfortunately, the javascript which sorts columns broke when div&#39;s were placed inside the cells.</p>
<p>Because of time constraints, I&#39;ve set the height of the cells based on the size of the font used. It&#39;s brittle and definitely not ideal.</p>
<h2 id="assorted-thoughts">Assorted thoughts</h2>
<p>Sometimes picking a smaller framework increases the work and time required to create a running product. Sinatra comes with almost nothing - so small that Sinatra doesn&#39;t even call itself a framework. If time was critical, Rails would have been a better solution (convention over configuration - includes everything <em>and</em> the kitchen sink). It&#39;s quicker to prototype and build when you don&#39;t have to write out configurations.</p>
<p>Start with a asset pipeline.</p>
<p>Don&#39;t introduce dependencies unless you absolutely must. It&#39;s hard to refactor.</p>
<p>If you want to use CI, start with it!</p>
<p>Test more! Would have been worth writing unit tests for the javascript.</p>
<p>It took a lot longer than I expected to write this readme!!</p>
<h4 id="thanks-for-taking-the-time-to-review-my-solution-">Thanks for taking the time to review my solution!</h4>
<h4 id="contact">Contact</h4>
<ul>
<li>Sean Walsh </li>
<li><a href="mailto:sean@mirango.io">sean@mirango.io</a></li>
</ul>
<h4 id="-end-">- end -</h4>
<pre><code>  ;)( ;
 :----:     o8Oo./
C|====| ._o8o8o8Oo_.
 |    |  \========/
 `----&#39;   `------&#39;
 Coffee and cereal by Hayley Jane Wakenshaw
 http://www.ascii-code.com/ascii-art/food-and-drinks/coffee-and-tea.php
</code></pre></article>
{% endblock %}