// Colors from Gruvbox
// https://github.com/morhetz/gruvbox
$bg: #282828;
$bg1: #3c3836;
$bg2: #504945;
$bg3: #665c54;
$red: #cc241d;
$green: #98971a;
$yellow: #d79921;
$blue: #458588;
$purple: #eccada;
$aqua: #689d6a;
$gray: #a89984;
$fg: #ebdbb2;

$link-color: #2A5DB0;

// Font imports
@import url('https://fonts.googleapis.com/css?family=Space+Mono');
@import url("https://use.typekit.net/tnt3rjq.css");

$monospace-font: 'Space Mono', monospace;
$nav-font: $monospace-font;
$body-font: 'futura-pt';

$nav-background-color: $purple;
$nav-font-color: $fg;
$a-tag-color: $blue;
$code-tag-background-color: $bg2;

// a tags
$a-tags: 'a, a:active, a:hover, a:visited';
$a-tags-hover: 'a:active, a:hover';

body {
  font-family: $body-font;
  color: $bg;
  max-width: 1000px;
  margin: 0 auto 0 auto;
  padding: 0 10px 0 10px;
  #{$a-tags} {
    color: $link-color;
  }
  #{$a-tags-hover} {
    transition-timing-function: ease-in;
    transition-duration: .2s;
    color: purple;
  }
  header {
    padding-bottom: 5px;
    border-bottom: 1px solid black;
  }
  nav {
    font-family: $monospace-font;
    #{$a-tags} {
      text-decoration: none;
    }
  }
  table {
    font-family: $monospace-font;
    #{$a-tags} {
      text-decoration: none;
    }
    td {
      padding-right: 10px;
    }
  }
  footer {
    font-family: $monospace-font;
    font-size: 13px;
    padding-top: 25px;
    padding-bottom: 25px;
  }
}

// default sizes for header tags
h1 { font-size: 2em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.17em; }
h4 { font-size: 1.12em; }
h5 { font-size: .83em; }
h6 { font-size: .75em; }

h1, h3 {
  margin-bottom: 2px;
}
pre {
  overflow-x: auto;
}
code {
  font-family: $monospace-font;
}
img {
  max-width: 100%;
}
p code, li code {
  font-family: $monospace-font;
  font-size: 13px;
  background-color: #E8E8EE;
}

article {
  table {
    font-size: 16px;
    tr:nth-child(even) {
    background-color: #E8E8EE;
    }
  }
}


#title {
  #{$a-tags} {
    color: $bg;
    text-decoration: none;
  }
  #{$a-tags-hover} {
    transition-timing-function: ease-in;
    transition-duration: .2s;
    color: purple;
  }
}