{% extends "default.njk" %}
{% block content %}
<article>
  <h2>About</h2>
  <p>Hey! I’m Sean and this is my website and blog.</p>
  <p>I’m a software developer in Boston with a strong interest in web development, functional programming, and concurrent programming. You’ll find me on <a href="https://www.bitbucket.org/sdwalsh"><code>bitbucket</code></a>, <a href="https://keybase.io/sdwalsh"><code>keybase</code></a>, or <a href="https://www.twitter.com/mirangomadness"><code>twitter</code></a>.</p>
  <p>While working on web projects I split my time between ruby on rails, nodejs, and go.</p>
  <p>Feel free to send me an email at <code>sdwalsh@mirango.io</code> and consider using my pgp key.</p>
</article>
{% endblock %}