<footer>
  <div id="name">
    Sean Walsh —
  </div>
  <div id="email">
    sdwalsh@mirango.io
  </div>
  <div id="city">
    Boston, MA
  </div>
  <div class="commit-data">
    <a href="https://bitbucket.org/sdwalsh/mirango"><span id="commit-hash"></span></a>
    <div>
      <span id="commit-date"></span>
    </div>
  </div>
  <script type="text/javascript" src="/all.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/vs.min.css" type="text/css">
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>
</footer>
</html>