<nav>
  <a href="/about">~/about</a>
  <a href="https://www.bitbucket.org/sdwalsh">~/bitbucket</a>
  <a href="https://www.keybase.io/sdwalsh">~/keybase</a>
  <a href="https://www.twitter.com/mirangomadness">~/twitter</a>
</nav>