{% extends "default.njk" %}
{% block content %}
<article><h1 id="hello-world-">Hello, world!</h1>
<p>Hello, world!  I&#39;ve decided it&#39;s time to restart my blog.</p>
<p>I&#39;m a computer science student and programmer living in Boston with interests in functional programming and concurrent computing.</p>
<p>I&#39;ve had several blogs in the past - mostly self hosted wordpress blogs.  Wordpress offers a lot of functionality that I don&#39;t need for a simple blog, so I was excited to learn about static site generators.</p>
<p>Since my blog will be serving identical pages, there&#39;s really no need for a backend.  Rather than storing posts and pages in a database, a static site generator, as the name suggests, creates static HTML from a mix of templates, markdown, and css.  For mirango.io I decided to use <a href="http://jekyllrb.com">Jekyll</a>.</p>
<p>Feel free to take a look at the source for Mirango.io.  It&#39;s available on <a href="https://www.github.com/sdwalsh/mirango">GitHub</a> along with the Nginx <a href="https://www.github.com/sdwalsh/mirango_nginx">configuration file</a>.  If you&#39;re interested in using Jekyll yourself, I&#39;ve provided a short installation guide below.</p>
<h4>Short guide to installing Jekyll on your local computer</h4>

<pre><code class="lang-bash"># Install rvm and ruby (stable)
$ curl -sSL https://get.rvm.io | bash -s stable --ruby

# Install the jekyll gem
$ gem install jekyll

# Create a new jekyll site (jekyll will create the basic file structure and configuration files)
$ jekyll new siteName

# Move into the newly created file
$ cd siteName

# Builds the site (takes all the files and outputs the static site in the _site folder)
$ jekyll build

# Creates a development web server at localhost:4000
$ jekyll serve
</code></pre>
<p>If you&#39;re interested in creating a jekyll site, GitHub will host the site for free.  Check out <a href="https://pages.github.com">https://pages.github.com</a>.</p>
</article>
{% endblock %}