{% extends "default.njk" %}
{% block content %}
<article><h1 id="adb-and-fastboot-errors">ADB and Fastboot Errors</h1>
<p>I ran into a couple interesting problems when I flashed a new ROM on a Nexus 6.  One involving adb sideload and another with fastboot (<code>flash-all.sh</code> provided by google to quickly flash the stock image)</p>
<blockquote>
<p>Note: Using Nexus 6 with Cyanogen Mod 12 (Lollipop) and Ubuntu 15.10</p>
</blockquote>
<h2 id="android-debug-bridge-protocol-fault">Android Debug Bridge Protocol Fault</h2>
<p>I installed <code>android-tools-adb</code> and <code>android-tools-fastboot</code> from the official Ubuntu repositories in order to connect to the phone.  I ran <code>adb devices</code> to identify the phone and then attempted to sideload an image.</p>
<p>I was met with <code>error: protocol fault (no status)</code>.  Uh oh.</p>
<pre><code class="lang-bash">$ adb devices
List of devices attached
&lt;id of phone&gt; sideload
$ adb sideload android.zip
error: protocol fault (no status)
</code></pre>
<p>Adb version <code>1.0.32</code> is required to communicate with Android 5.0 (or greater).  The offical Ubuntu repositories contain version <code>1.0.31</code>.</p>
<p><a href="http://bernaerts.dyndns.org/linux/74-ubuntu/328-ubuntu-trusty-android-adb-fastboot-qtadb">Nicolas Bernaerts</a> published a guide to updating adb on Ubuntu.  I ran the following commands to update adb.</p>
<pre><code class="lang-bash">$ adb version
Android Debug Bridge version 1.0.31
$ wget -O - https://skia.googlesource.com/skia/+archive/cd048d18e0b81338c1a04b9749a00444597df394/platform_tools/android/bin/linux.tar.gz | tar -zxvf - adb
$ sudo mv adb /usr/bin/adb
$ sudo chmod +x /usr/bin/adb
$ adb version
Android Debug Bridge version 1.0.32
</code></pre>
<h2 id="fastboot-remote-failure-data-size-exceeds-download-buffer-">Fastboot Remote Failure (data size exceeds download buffer)</h2>
<p>Instead of flashing a new Cyanogen Mod image, I decided to flash <a href="https://developers.google.com/android/nexus/images">Google&#39;s factory image</a> for the Nexus 6.  Google provides a handy tarball that contains all the files necessary to flash your phone and a handy shell script <code>flash-all.sh</code> which should flash all the image files.</p>
<p><a href="/nexus-tarball.png"><img src="/nexus-tarball.png" alt="Tarball Contents"></a></p>
<p>When I ran the shell script I was met with a <code>(bootloader) Data size exceeds download buffer</code> error.  Uh oh.</p>
<pre><code class="lang-bash">$ ./flash-all.sh
...
sending &#39;system&#39; (2048781 KB)...
(bootloader) Data size exceeds download buffer
FAILED (remote failure)
finished. total time: 0.940s
</code></pre>
<p>I extracted the contents of <code>image-shamu-mmb29q.zip</code> reveling <code>boot.img</code> <code>cache.img</code> <code>recovery.img</code> <code>system.img</code> and <code>userdata.img</code>.  I manually flashed each file in the following order while inside the bootloader:</p>
<blockquote>
<p>Running <code>fastboot flash userdata userdata.img</code> will wipe your phone</p>
</blockquote>
<pre><code class="lang-bash">fastboot flash bootloader bootloader.img
fastboot reboot-bootloader
fastboot flash radio radio.img
fastboot reboot-bootloader
fastboot flash system system.img
fastboot flash userdata userdata.img
fastboot flash boot boot.img
fastboot flash recovery recovery.img
fastboot erase cache
fastboot flash cache cache.img
</code></pre>
<p>After I flashed each of the image files I booted into recovery and did a <code>factory data reset</code> and rebooted.</p>
</article>
{% endblock %}